.graphiql-container {
  height: 100vh;
  width: 100vw;
}
.graphiql-container>.editorWrap>.editorBar {
  display: none;
}
.pivottable-container {
  left: 335px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 60px;
}